/*
My style
*/

.reveal h2 {
    color: #F6B26B;
}

.reveal small {
    text-align: left;
}

/* .reveal p {
    text-align: left;
}
.reveal ul {
    display: block;
}
.reveal ol {
    display: block;
}   */